In [1]:
x = 7

In [2]:
x = x+3

In [3]:
x

10

In [4]:
x = 7
x += 3
x

10

In [7]:
print(5,'abc',3,sep='|')

5|abc|3

In [8]:
x = "blah blah blah" # here we're assigning a string to a variable

In [9]:
x

'blah blah blah'

In [10]:
[1,2,3] + [45,46]

[1, 2, 3, 45, 46]

In [12]:
[1,2,3] + [45]

[1, 2, 3, 45]

In [13]:
x = [1,2,3]
x.append(45)
x

[1, 2, 3, 45]

In [14]:
bschools = {'nyu':'stern','chicago':'booth','penn':'wharton','columbia':'cbs','mit':'sloan'}

In [15]:
type(bschools)

dict

In [16]:
bschools

{'nyu': 'stern',
 'chicago': 'booth',
 'penn': 'wharton',
 'columbia': 'cbs',
 'mit': 'sloan'}

In [17]:
bschools['mit']

'sloan'

In [18]:
bschools['northwestern'] = 'kellogg'

In [19]:
bschools

{'nyu': 'stern',
 'chicago': 'booth',
 'penn': 'wharton',
 'columbia': 'cbs',
 'mit': 'sloan',
 'northwestern': 'kellogg'}

In [20]:
len(bschools)

6

In [21]:
bschools['columbia'] = 'gsb'

In [22]:
bschools

{'nyu': 'stern',
 'chicago': 'booth',
 'penn': 'wharton',
 'columbia': 'gsb',
 'mit': 'sloan',
 'northwestern': 'kellogg'}

In [23]:
bschools['stanford'] = 'gsb'

In [24]:
bschools

{'nyu': 'stern',
 'chicago': 'booth',
 'penn': 'wharton',
 'columbia': 'gsb',
 'mit': 'sloan',
 'northwestern': 'kellogg',
 'stanford': 'gsb'}

In [25]:
bschools['columbia'] = ['cbs','gsb']

In [26]:
bschools

{'nyu': 'stern',
 'chicago': 'booth',
 'penn': 'wharton',
 'columbia': ['cbs', 'gsb'],
 'mit': 'sloan',
 'northwestern': 'kellogg',
 'stanford': 'gsb'}

In [27]:
x = 'hello'

In [28]:
x.capitalize()

'Hello'

In [31]:
y = 5

In [32]:
y.imag

0

In [33]:
z = (-1)**.5

In [34]:
z.imag

1.0

In [37]:
bschools.keys()

dict_keys(['nyu', 'chicago', 'penn', 'columbia', 'mit', 'northwestern', 'stanford'])

In [38]:
bschools.values()

dict_values(['stern', 'booth', 'wharton', ['cbs', 'gsb'], 'sloan', 'kellogg', 'gsb'])

In [41]:
del bschools['nyu']

In [43]:
bschools.pop('chicago')

'booth'

In [44]:
bschools

{'penn': 'wharton',
 'columbia': ['cbs', 'gsb'],
 'mit': 'sloan',
 'northwestern': 'kellogg',
 'stanford': 'gsb'}

In [45]:
10>5

True

In [46]:
3**5 > 5**3

True

In [47]:
'abc' > 'xyz'

False

In [56]:
x = 3
# if x>5:
#     print('greater than 5')
# else:
#     if x==5:
#         print('x is 5')
#     else:
#         print('less than 5')
if x>5:
    print('greater than 5')
elif x==5:
    print('x is 5')
else:
    print('less than 5')

less than 5

In [66]:
x = 108
# x/2 == int(x/2)
x%2==0

True

In [74]:
x = 12
# if x%6==0:
#     print('both')
if (x%2==0)&(x%3==0):
    print('both')
elif x%2==0:
    print('x is even')
elif x%3==0:
    print('x is divisible by 3')
else:
    print('nothing interesting')

both

In [77]:
x = 9
(x%2==0)|(x%3==0)

True

In [78]:
def conditions(x):
    return (x%2==0)|(x%3==0)

In [81]:
conditions(103)

False

In [ ]:
x = 12
if (x%2==0)&(x%3==0):
    print('both')
elif x%2==0:
    print('x is even')
elif x%3==0:
    print('x is divisible by 3')
else:
    print('nothing interesting')

In [82]:
animals = ['dog','cat','chimp','ant','zebra']

In [85]:
for i in animals:
    print(i,len(i),i.capitalize())

dog 3 Dog
cat 3 Cat
chimp 5 Chimp
ant 3 Ant
zebra 5 Zebra

In [89]:
animals[4]

'zebra'

In [90]:
animals[-1]

'zebra'

In [91]:
animals

['dog', 'cat', 'chimp', 'ant', 'zebra']

In [92]:
animals[0:2]

['dog', 'cat']

In [93]:
animals[1:3]

['cat', 'chimp']

In [94]:
animals[1:3+1]

['cat', 'chimp', 'ant']

In [97]:
animals[:2]

['dog', 'cat']

In [98]:
animals[-2:]

['ant', 'zebra']

In [99]:
animals[:2]+animals[-2:]

['dog', 'cat', 'ant', 'zebra']

In [100]:
animals[0:1]

['dog']

In [101]:
animals[0]

'dog'

In [102]:
animals[0:0]

[]

In [103]:
animals[0]

'dog'

In [104]:
for i in animals[0]:
    print(i)

d
o
g

In [106]:
bschools.keys()

dict_keys(['penn', 'columbia', 'mit', 'northwestern', 'stanford'])

In [110]:
for i in bschools.keys():
    print(i,bschools[i],sep = ' ->   ')

penn ->   wharton
columbia ->   ['cbs', 'gsb']
mit ->   sloan
northwestern ->   kellogg
stanford ->   gsb

In [112]:
range(10)

range(0, 10)

In [114]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [116]:
for x in range(1,20):
    if (x%2==0)&(x%3==0):
        print(x,'both')
    elif x%2==0:
        print(x,'x is even')
    elif x%3==0:
        print(x,'x is divisible by 3')
    else:
        print(x, 'nothing interesting')

1 nothing interesting
2 x is even
3 x is divisible by 3
4 x is even
5 nothing interesting
6 both
7 nothing interesting
8 x is even
9 x is divisible by 3
10 x is even
11 nothing interesting
12 both
13 nothing interesting
14 x is even
15 x is divisible by 3
16 x is even
17 nothing interesting
18 both
19 nothing interesting

In [117]:
for i in range(1,10):
    print(i/10)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [120]:
# for i in range(0,100,5):
#     print(i)
for i in range(100,0,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [128]:
x = 'datasets'

In [129]:
x[0]

'd'

In [130]:
x[-1]

's'

In [131]:
int(len(x)/2)

4

In [132]:
x[int(len(x)/2)]

's'

In [137]:
'b' in 'aeiou'

False

In [133]:
x

'datasets'

In [148]:
vowels = 'aeiou'
used = ''
for i in x:
    if (i in vowels)&(i not in used):
        print(i)
        used += i

a
e
Wall time: 0 ns

In [145]:
vowels = 'aeiou'
for i in x:
    if i in vowels:
        print(i)
        vowels = vowels.replace(i,'')

a
e

In [147]:
vowels = 'aeiou'
used = {}
# for i in x:
#     if (i in vowels)&(used[i]):
#         print(i)
#         used[i] = False

KeyError: 'd'

In [151]:
%%time
for i in range(100000):
    if i%563==0:
        print(i)

0
563
1126
1689
2252
2815
3378
3941
4504
5067
5630
6193
6756
7319
7882
8445
9008
9571
10134
10697
11260
11823
12386
12949
13512
14075
14638
15201
15764
16327
16890
17453
18016
18579
19142
19705
20268
20831
21394
21957
22520
23083
23646
24209
24772
25335
25898
26461
27024
27587
28150
28713
29276
29839
30402
30965
31528
32091
32654
33217
33780
34343
34906
35469
36032
36595
37158
37721
38284
38847
39410
39973
40536
41099
41662
42225
42788
43351
43914
44477
45040
45603
46166
46729
47292
47855
48418
48981
49544
50107
50670
51233
51796
52359
52922
53485
54048
54611
55174
55737
56300
56863
57426
57989
58552
59115
59678
60241
60804
61367
61930
62493
63056
63619
64182
64745
65308
65871
66434
66997
67560
68123
68686
69249
69812
70375
70938
71501
72064
72627
73190
73753
74316
74879
75442
76005
76568
77131
77694
78257
78820
79383
79946
80509
81072
81635
82198
82761
83324
83887
84450
85013
85576
86139
86702
87265
87828
88391
88954
89517
90080
90643
91206
91769
92332
92895
93458
94021
94584
95147
95710
96273
96836
97399
97962
98525
99088
99651
Wall time: 17 ms

In [152]:
x = 'datasets'
vowels = 'aeiou'
nonvowels = []
for i in x:
    if i not in vowels:
        nonvowels.append(i)
nonvowels

['d', 't', 's', 't', 's']

In [154]:
[i for i in x if i not in vowels]

['d', 't', 's', 't', 's']

In [155]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [171]:
x = 'data'
nums = '1234567890'
special = '!@#$%^&*()?'
contains_num = False
contains_cap = False
contains_lower = False
contains_special = False
for i in x:
    if i in nums:
        contains_num = True
    if i in special:
        contains_special = True
#         break
    if i!=i.lower():
        contains_cap = True
    if i!=i.upper():
        contains_lower =True
if not contains_num:
    x+='5'
if not contains_cap:
    x+='A'
if not contains_lower:
    x+='b'
if not contains_special:
    x+='?'
if len(x)<8:
    x+='????'

In [172]:
x

'data5A?????'

In [173]:
def password(x):
    nums = '1234567890'
    special = '!@#$%^&*()?'
    contains_num = False
    contains_cap = False
    contains_lower = False
    contains_special = False
    for i in x:
        if i in nums:
            contains_num = True
        if i in special:
            contains_special = True
    #         break
        if i!=i.lower():
            contains_cap = True
        if i!=i.upper():
            contains_lower =True
    if not contains_num:
        x+='5'
    if not contains_cap:
        x+='A'
    if not contains_lower:
        x+='b'
    if not contains_special:
        x+='?'
    if len(x)<8:
        x+='????'
    return x

In [174]:
password('bootcamp')

'bootcamp5A?'

In [157]:
type(x[-1])

str

In [158]:
x[-1]

'5'

In [162]:
'?'.lower()

'?'

In [175]:
import numpy

In [178]:
numpy.exp(9)

8103.083927575384