#### Problem 1

In [176]:
import pandas as pd
url = 'C:/NYU/Data_Bootcamp/Assignment 4/master_data_ready.csv'
df = pd.read_csv(url , na_values = ['\\N'])

In [177]:
df

,job_id,vertical,company,post_date,fill_date,time_to_fill,salary,location,city,state,zip,county,region_state,latitude,longitude
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324.0,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA",34.236698,-118.546997
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3.0,54231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0.0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709.0,Durham,"Durham, NC MSA",36.051201,-78.857697
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37.0,91550,"Catonsville, MD",Catonsville,MD,21228.0,Baltimore,"Baltimore-Towson, MD MSA",39.278198,-76.740097
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3.0,34920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,NaN,56453,"Milwaukee, WI",Milwaukee,WI,53201.0,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA",43.011299,-87.958397
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8.0,25369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,NaN,65200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3.0,21484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,NaN,39125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,NaN,29963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,NaN,37110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702.0,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",39.634899,-75.699303
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,NaN,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054.0,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA",37.392399,-121.961998
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9.0,35570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18.0,46331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56.0,99210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,NaN,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601.0,Wake,"Raleigh-Cary, NC MSA",35.772701,-78.632401
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,NaN,73161,"Bensenville, IL 60106",Bensenville,IL,60106.0,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA",41.950100,-87.945000
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,NaN,54085,"Greenwich, CT 06831",Greenwich,CT,6831.0,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA",41.054901,-73.659401
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,NaN,32615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087.0,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",40.061199,-75.399902
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26.0,54579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,NaN,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA",NaN,NaN
26,24791298532037489164485098613010,Information Technology,NaN,2016-10-07,2016-10-23,16.0,61981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001.0,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.912201,-77.017700
28,10668346115240342561513993503594,Information Technology,NaN,2017-05-25,NaN,NaN,79268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,90672556728520029224234442655718,Information Technology,NaN,2017-06-03,NaN,NaN,50035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,371181096109303691922555763336,Information Technology,Market Solutions,2017-08-16,NaN,NaN,36942,"San Marcos, CA 92069",San Marcos,CA,92069.0,San Diego,"San Diego-Carlsbad-San Marcos, CA MSA",33.144402,-117.169998
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.932598,-77.170601
199972,43584716622459958047583215641177,Information Technology,NaN,2017-04-09,NaN,NaN,82623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199973,36778391369684307450697861629603,Information Technology,NaN,2017-07-06,NaN,NaN,24244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199974,84627086382466223735185772019421,Information Technology,NaN,2017-11-26,NaN,NaN,49033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,NaN,34930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702.0,Williamson,"Austin-Round Rock, TX MSA",30.263800,-97.716599
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1.0,73212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,NaN,34693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,NaN,37730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11.0,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA",NaN,NaN
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N...",40.737499,-73.981300
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,8534.0,Mercer,"Trenton-Ewing, NJ MSA",40.333900,-74.794403
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4.0,34033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,NaN,109957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,NaN,88779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,NaN,93508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,NaN,83348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,NaN,51847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1.0,110425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,NaN,32983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,NaN,61407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,2129.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA",42.377800,-71.062698
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,NaN,41571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20.0,81997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,NaN,31390,"Temple, TX",Temple,TX,76501.0,Bell,"Killeen-Temple-Fort Hood, TX MSA",31.089500,-97.334297
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2.0,35577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11.0,63093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,NaN,52310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,NaN,54198,"Zeeland, MI",Zeeland,MI,49464.0,Ottawa,"Holland-Grand Haven, MI MSA",42.825600,-86.010399

In [178]:
df.columns = [i.capitalize() for i in df.columns]

In [179]:
df

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state,Latitude,Longitude
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324.0,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA",34.236698,-118.546997
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3.0,54231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0.0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709.0,Durham,"Durham, NC MSA",36.051201,-78.857697
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37.0,91550,"Catonsville, MD",Catonsville,MD,21228.0,Baltimore,"Baltimore-Towson, MD MSA",39.278198,-76.740097
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3.0,34920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,NaN,56453,"Milwaukee, WI",Milwaukee,WI,53201.0,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA",43.011299,-87.958397
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8.0,25369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,NaN,65200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3.0,21484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,NaN,39125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,NaN,29963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,NaN,37110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702.0,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",39.634899,-75.699303
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,NaN,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054.0,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA",37.392399,-121.961998
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9.0,35570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18.0,46331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56.0,99210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,NaN,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601.0,Wake,"Raleigh-Cary, NC MSA",35.772701,-78.632401
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,NaN,73161,"Bensenville, IL 60106",Bensenville,IL,60106.0,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA",41.950100,-87.945000
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,NaN,54085,"Greenwich, CT 06831",Greenwich,CT,6831.0,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA",41.054901,-73.659401
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,NaN,32615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087.0,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",40.061199,-75.399902
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26.0,54579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,NaN,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA",NaN,NaN
26,24791298532037489164485098613010,Information Technology,NaN,2016-10-07,2016-10-23,16.0,61981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001.0,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.912201,-77.017700
28,10668346115240342561513993503594,Information Technology,NaN,2017-05-25,NaN,NaN,79268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,90672556728520029224234442655718,Information Technology,NaN,2017-06-03,NaN,NaN,50035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,371181096109303691922555763336,Information Technology,Market Solutions,2017-08-16,NaN,NaN,36942,"San Marcos, CA 92069",San Marcos,CA,92069.0,San Diego,"San Diego-Carlsbad-San Marcos, CA MSA",33.144402,-117.169998
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.932598,-77.170601
199972,43584716622459958047583215641177,Information Technology,NaN,2017-04-09,NaN,NaN,82623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199973,36778391369684307450697861629603,Information Technology,NaN,2017-07-06,NaN,NaN,24244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199974,84627086382466223735185772019421,Information Technology,NaN,2017-11-26,NaN,NaN,49033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,NaN,34930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702.0,Williamson,"Austin-Round Rock, TX MSA",30.263800,-97.716599
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1.0,73212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,NaN,34693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,NaN,37730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11.0,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA",NaN,NaN
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N...",40.737499,-73.981300
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,8534.0,Mercer,"Trenton-Ewing, NJ MSA",40.333900,-74.794403
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4.0,34033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,NaN,109957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,NaN,88779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,NaN,93508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,NaN,83348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,NaN,51847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1.0,110425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,NaN,32983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,NaN,61407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,2129.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA",42.377800,-71.062698
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,NaN,41571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20.0,81997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,NaN,31390,"Temple, TX",Temple,TX,76501.0,Bell,"Killeen-Temple-Fort Hood, TX MSA",31.089500,-97.334297
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2.0,35577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11.0,63093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,NaN,52310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,NaN,54198,"Zeeland, MI",Zeeland,MI,49464.0,Ottawa,"Holland-Grand Haven, MI MSA",42.825600,-86.010399

#### Problem 2

In [180]:
df.isnull().sum()

Job_id               0
Vertical             0
Company         110408
Post_date            0
Fill_date       151118
Time_to_fill    151118
Salary               0
Location        110730
City            112673
State           110823
Zip             114932
County          114610
Region_state    115592
Latitude        113595
Longitude       113595
dtype: int64

#### Problem 3

In [181]:
Master_Clean = df.drop(['Latitude','Longitude'],axis=1)

In [182]:
Master_Clean

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324.0,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3.0,54231,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0.0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709.0,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37.0,91550,"Catonsville, MD",Catonsville,MD,21228.0,Baltimore,"Baltimore-Towson, MD MSA"
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3.0,34920,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,NaN,56453,"Milwaukee, WI",Milwaukee,WI,53201.0,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA"
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8.0,25369,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,NaN,65200,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3.0,21484,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,NaN,39125,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,NaN,29963,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,NaN,37110,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702.0,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,NaN,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054.0,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA"
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9.0,35570,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18.0,46331,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56.0,99210,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,NaN,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601.0,Wake,"Raleigh-Cary, NC MSA"
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,NaN,73161,"Bensenville, IL 60106",Bensenville,IL,60106.0,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,NaN,54085,"Greenwich, CT 06831",Greenwich,CT,6831.0,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA"
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,NaN,32615,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087.0,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26.0,54579,NaN,NaN,NaN,NaN,NaN,NaN
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,NaN,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA"
26,24791298532037489164485098613010,Information Technology,NaN,2016-10-07,2016-10-23,16.0,61981,NaN,NaN,NaN,NaN,NaN,NaN
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001.0,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
28,10668346115240342561513993503594,Information Technology,NaN,2017-05-25,NaN,NaN,79268,NaN,NaN,NaN,NaN,NaN,NaN
29,90672556728520029224234442655718,Information Technology,NaN,2017-06-03,NaN,NaN,50035,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,371181096109303691922555763336,Information Technology,Market Solutions,2017-08-16,NaN,NaN,36942,"San Marcos, CA 92069",San Marcos,CA,92069.0,San Diego,"San Diego-Carlsbad-San Marcos, CA MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199972,43584716622459958047583215641177,Information Technology,NaN,2017-04-09,NaN,NaN,82623,NaN,NaN,NaN,NaN,NaN,NaN
199973,36778391369684307450697861629603,Information Technology,NaN,2017-07-06,NaN,NaN,24244,NaN,NaN,NaN,NaN,NaN,NaN
199974,84627086382466223735185772019421,Information Technology,NaN,2017-11-26,NaN,NaN,49033,NaN,NaN,NaN,NaN,NaN,NaN
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,NaN,34930,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702.0,Williamson,"Austin-Round Rock, TX MSA"
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1.0,73212,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,NaN,34693,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,NaN,37730,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11.0,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA"
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,8534.0,Mercer,"Trenton-Ewing, NJ MSA"
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4.0,34033,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,NaN,109957,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,NaN,88779,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,NaN,93508,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,NaN,83348,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,NaN,51847,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1.0,110425,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,NaN,32983,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,NaN,61407,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,2129.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,NaN,41571,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20.0,81997,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,NaN,31390,"Temple, TX",Temple,TX,76501.0,Bell,"Killeen-Temple-Fort Hood, TX MSA"
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2.0,35577,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11.0,63093,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,NaN,52310,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,NaN,54198,"Zeeland, MI",Zeeland,MI,49464.0,Ottawa,"Holland-Grand Haven, MI MSA"

#### Problem 4

In [183]:
Master_Clean.loc[(Master_Clean['State']=='NY') &
            (Master_Clean['Post_date'].str.contains('2018')),:]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602.0,Monroe,NaN
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,NaN,129057,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,NaN,45799,"Bohemia, NY 11716",Bohemia,NY,11716.0,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,NaN,114411,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,NaN,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,NaN,32707,"Flushing, NY",Flushing,NY,11351.0,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,NaN,47493,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,NaN,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245.0,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,NaN,46193,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,NaN,92641,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,NaN,150155,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,NaN,66535,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,NaN,85418,"Syracuse, NY",Syracuse,NY,13201.0,Onondaga,"Syracuse, NY MSA"
1104,2696105939387916160564326211846,Information Technology,Glory Global Solutions,2018-04-05,NaN,NaN,42936,"Hamburg, NY",Hamburg,NY,14075.0,Erie,"Buffalo-Niagara Falls, NY MSA"
1375,58723501807015432733721594581451,Information Technology,Cornell University,2018-03-13,NaN,NaN,59379,New York State,NaN,NY,NaN,NaN,NaN
1440,236521942553036418086001383896,Information Technology,New York Technology Partners,2018-03-16,NaN,NaN,75450,"Rochester, NY",Rochester,NY,14602.0,Monroe,NaN
1449,415349121354810943135797503470,Information Technology,Columbia University,2018-02-02,NaN,NaN,50956,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1455,89393683620524664208128524249028,Information Technology,Securitas Electronic Security,2018-02-23,NaN,NaN,49626,"Middletown, NY",Middletown,NY,10940.0,Orange,"Poughkeepsie-Newburgh-Middletown, NY MSA"
1497,542917792728373007665722564775,Information Technology,Icon plc,2018-05-26,NaN,NaN,60934,"Farmingdale, NY",Farmingdale,NY,11735.0,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
1561,48020264441568927672366851147667,Information Technology,JP Morgan Chase,2018-06-07,NaN,NaN,167967,"New York, NY 10172 (Gramercy area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1572,55157641510439738974694495602806,Information Technology,Harris Corporation,2018-06-20,NaN,NaN,125963,"Rochester, NY",Rochester,NY,14602.0,Monroe,NaN
1593,9230481372292022845456755852312,Information Technology,AT&T,2018-05-10,NaN,NaN,69704,"Shirley, NY",Shirley,NY,11967.0,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
1725,2430770416515896965637198734168,Information Technology,Rochester Institute of Technology,2018-03-13,NaN,NaN,53724,"Rochester, NY 14623",Rochester,NY,14623.0,Monroe,"Rochester, NY MSA"
1814,17800043801809774750475896980863,Information Technology,KLA-Tencor,2018-06-15,NaN,NaN,107731,"Malta, NY",Malta,NY,NaN,NaN,"Albany-Schenectady-Troy, NY MSA"
1929,43618288290019071415467283767645,Information Technology,Marsh,2018-05-04,NaN,NaN,64640,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2064,20058100941873781076259371250836,Information Technology,EGW Personnel,2018-06-01,NaN,NaN,90170,"West Seneca, NY",West Seneca,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
2122,67672646289841954190304222562626,Information Technology,Family Service League,2018-01-06,NaN,NaN,118468,"Huntington, NY",Huntington,NY,11743.0,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
2149,71766127817365679338445621712580,Information Technology,SociÃ©tÃ© GÃ©nÃ©rale,2018-05-03,NaN,NaN,151989,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2162,79469812433179217818017160947095,Information Technology,Route 4 Auto Group,2018-04-02,NaN,NaN,49189,"Manhattan, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197255,18969907972565992937327855096596,Information Technology,Rochester Institute of Technology,2018-03-06,NaN,NaN,44244,"Rochester, NY 14623",Rochester,NY,14623.0,Monroe,"Rochester, NY MSA"
197361,36046790707551154563521215910714,Information Technology,Trianz,2018-07-24,2018-09-13,51.0,114279,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197368,8524828046409216745976823376079,Information Technology,Sisters of Charity Hospital - St. Joseph Campus,2018-04-13,NaN,NaN,57930,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
197384,1311719669786119554146956771515,Information Technology,Performance Connectivity Inc.,2018-01-16,NaN,NaN,66164,"Purchase, NY 10577",Purchase,NY,10577.0,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
197564,50856440832349436360539868322162,Information Technology,IT Consulting,2018-02-23,NaN,NaN,103119,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197880,8847539301471242419300630523660,Information Technology,Pure Storage,2018-04-14,NaN,NaN,148780,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197910,94815303305634576837137950166525,Information Technology,AWS Mechanical,2018-05-05,NaN,NaN,46423,"Queens, NY",Queens,NY,11101.0,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
197992,50321414282363859021768866379287,Information Technology,RBC,2018-01-17,NaN,NaN,91011,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198024,39041548461717541373412730155378,Information Technology,Landmark Health,2018-05-26,NaN,NaN,172249,"Albany, NY",Albany,NY,12201.0,Albany,"Albany-Schenectady-Troy, NY MSA"
198189,569146260930962875804765510947,Information Technology,Taboola,2018-07-31,NaN,NaN,64421,"New York, NY 10010 (Gramercy area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198561,7471868774061666461522698576353,Information Technology,CCBQ,2018-03-02,NaN,NaN,53845,"Queens, NY",Queens,NY,11101.0,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
198603,9818366192349086671944775892514,Information Technology,Capital One,2018-02-28,NaN,NaN,33129,"Long Beach, NY 11561",Long Beach,NY,11561.0,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
198670,5382799510897294396466316554130,Information Technology,Custom Staffing,2018-02-14,NaN,NaN,93697,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,NaN,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,NaN,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,NaN,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,NaN,48790,"Albany, NY",Albany,NY,12201.0,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,NaN,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201.0,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,NaN,57784,"Ithaca, NY 14850",Ithaca,NY,14850.0,Tompkins,"Ithaca, NY MSA"
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,NaN,123207,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,NaN,37756,"Syracuse, NY",Syracuse,NY,13201.0,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,NaN,102616,"Manhattan, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,NaN,135541,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,NaN,29124,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,NaN,93882,"White Plains, NY 10606",White Plains,NY,10606.0,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,NaN,66564,"Clay, NY 13041",Clay,NY,13041.0,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,NaN,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,NaN,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201.0,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201.0,Onondaga,"Syracuse, NY MSA"
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601.0,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."

#### Problem 5

In [184]:
Master_Clean.loc[(~ Master_Clean['State'].isin(['NY','CA'])) & (Master_Clean['Salary'] > 80000),:].dropna(subset=['State'])
# or use the below code
#Master_Clean.loc[(~ Master_Clean['State'].isin(['NY','CA'])) & (Master_Clean['Salary'] > 80000) & (Master_Clean['State'].notnull()),:]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0.0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709.0,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37.0,91550,"Catonsville, MD",Catonsville,MD,21228.0,Baltimore,"Baltimore-Towson, MD MSA"
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702.0,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087.0,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001.0,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
31,92708943921819158278275137368013,Information Technology,zodiac,2016-11-23,NaN,NaN,91097,"Gainesville, TX",Gainesville,TX,76240.0,Cooke,TX NONMETROPOLITAN AREA
40,9661280239453334742826718781338,Information Technology,LOCKHEED MARTIN CORPORATION,2018-06-13,NaN,NaN,109052,"Hanover, MD 21076",Hanover,MD,21076.0,Anne Arundel,"Baltimore-Towson, MD MSA"
42,406721259826597271166136103276,Information Technology,Net Health,2017-05-05,NaN,NaN,88408,"Brentwood, TN",Brentwood,TN,37024.0,Williamson,"Nashville-Davidson-Murfreesboro-Franklin, TN MSA"
53,7955450235772249401977199367187,Information Technology,Leidos,2018-02-07,NaN,NaN,147166,"Washington, DC 20001 (Shaw area)",Washington,DC,20001.0,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
61,45230337933216733091735774621770,Information Technology,Microsoft,2018-02-06,NaN,NaN,125442,"Redmond, WA 98052",Redmond,WA,98052.0,King,"Seattle-Tacoma-Bellevue, WA MSA"
70,32300234787209199670389747356731,Information Technology,OST,2017-09-17,NaN,NaN,89640,"McLean, VA 22102",Mc Lean,VA,22102.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
79,681377002829632837068544453736,Information Technology,Capgemini,2018-07-10,NaN,NaN,89148,"Atlanta, GA",Atlanta,GA,30301.0,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
91,2294022611392523687558580960170,Information Technology,Texas A&M University Corpus Christi,2016-10-14,2016-11-20,37.0,80792,"Corpus Christi, TX",Corpus Christi,TX,78401.0,Nueces,"Corpus Christi, TX MSA"
98,479846345677436844332805134097,Information Technology,"PGA TOUR, Inc.",2016-11-05,2016-12-05,30.0,83562,"Ponte Vedra Beach, FL 32082",Ponte Vedra Beach,FL,32082.0,Saint Johns,"Jacksonville, FL MSA"
106,585290221529020586396558449210,Information Technology,Groupon,2017-01-17,2017-01-18,1.0,94825,"Hebron, KY 41048",Hebron,KY,41048.0,Boone,"Cincinnati-Middletown, OH-KY-IN MSA"
111,7322556087579982411331394292574,Information Technology,Kroger General Office,2018-03-08,NaN,NaN,84653,"Blue Ash, OH 45242",Blue Ash,OH,45242.0,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
113,67896938593777969319816987857458,Information Technology,E.ON Climate and Renewables,2018-07-07,NaN,NaN,92012,"Austin, TX 78701 (Downtown area)",Austin,TX,78701.0,Williamson,"Austin-Round Rock, TX MSA"
117,97985120333738407291384064447686,Information Technology,"TAD PGS, Inc",2018-02-15,NaN,NaN,107779,"Reston, VA",Reston,VA,20190.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
127,9262822776645422534243596775910,Information Technology,"Everbridge, Inc.",2017-08-15,NaN,NaN,127166,"Burlington, MA",Burlington,MA,1803.0,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
132,76815795931597383535130997277332,Information Technology,KNF&T Staffing Resources,2018-06-28,NaN,NaN,80215,"Boston, MA 02109 (Central area)",Boston,MA,2109.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
134,32050403263333033551530798576632,Information Technology,Revecent- Electrical Manufacturing,2016-10-27,2016-11-19,23.0,96597,"Boston, MA",Boston,MA,2108.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
140,841180897139267646091158867550,Information Technology,Larimer County,2017-12-09,NaN,NaN,93925,"Loveland, CO",Loveland,CO,80537.0,Larimer,"Fort Collins-Loveland, CO MSA"
152,4955411090799012533273354266631,Information Technology,SMART IT People,2017-08-14,NaN,NaN,95795,"Dallas, TX",Dallas,TX,75201.0,Dallas,"Dallas-Fort Worth-Arlington, TX MSA"
155,590453087687138472210015490856,Information Technology,The Vincit Group,2017-03-14,NaN,NaN,100874,"Chattanooga, TN",Chattanooga,TN,37401.0,Hamilton,"Chattanooga, TN-GA MSA"
170,2232585180554128357930863730305,Information Technology,Element6 Talent,2018-03-22,NaN,NaN,103950,"Brookfield, WI",Brookfield,WI,53005.0,Waukesha,"Milwaukee-Waukesha-West Allis, WI MSA"
172,13528279308638411373437076080331,Information Technology,Camber Corporation,2016-10-07,2016-10-15,8.0,87225,"San Antonio, TX 78216",San Antonio,TX,78216.0,Comal,"San Antonio, TX MSA"
176,98892870724669616565619510880097,Information Technology,Medtronic,2018-03-24,NaN,NaN,102361,"Philadelphia, PA",Philadelphia,PA,19019.0,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
178,88821272302728088490022733682714,Information Technology,"Modern Technology Solutions, Inc. (MTSI)",2018-02-23,NaN,NaN,118187,"Tampa, FL",Tampa,FL,33601.0,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
196,97867142837488402514277774467367,Information Technology,Wells Fargo,2018-04-08,NaN,NaN,93400,South Carolina,NaN,SC,NaN,NaN,NaN
205,93810100216751162694528269701067,Information Technology,"ReqRoute,Inc",2016-12-20,2016-12-21,1.0,90427,"McLean, VA",Mc Lean,VA,22101.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199811,66644845555063977759745221468072,Information Technology,BNY Mellon,2017-08-22,NaN,NaN,118748,"Jersey City, NJ 07306 (Journal Square area)",Jersey City,NJ,7306.0,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199817,28189986413015382193773485784060,Information Technology,iMPact Business Group,2017-07-19,NaN,NaN,114348,"Lansing, MI",Lansing,MI,48901.0,Ingham,NaN
199823,67144701268990983306139084609661,Information Technology,"Wyntec, LLC",2018-05-01,NaN,NaN,103088,"Madison, WI",Madison,WI,53701.0,Dane,"Madison, WI MSA"
199824,23864138654917115586614382855586,Information Technology,Seneca Resources,2018-02-08,NaN,NaN,110465,"Centreville, VA",Centreville,VA,20120.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199832,48668818823964996597604582690728,Information Technology,Rubius Therapeutics,2018-05-23,NaN,NaN,123239,"Cambridge, MA 02139 (Area IV area)",Cambridge,MA,2139.0,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
199841,20422894363981492072207094415903,Information Technology,Fiserv,2018-07-01,NaN,NaN,114488,"Bannockburn, IL 60015",Bannockburn,IL,60015.0,Lake,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199842,991330966318838185426710314825,Information Technology,EY,2017-10-10,NaN,NaN,102753,"Atlanta, GA",Atlanta,GA,30301.0,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
199849,2931557538817070613863014241943,Information Technology,ToolsGroup Inc.,2017-01-07,NaN,NaN,93532,"Boston, MA",Boston,MA,2108.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199850,52793827212433104783507075445426,Information Technology,APAR Technologies,2017-08-04,NaN,NaN,84619,"Oaks, PA",Oaks,PA,19456.0,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199851,33721924422733421020094324184691,Information Technology,Sandia National Laboratories,2017-02-10,NaN,NaN,104948,"Albuquerque, NM",Albuquerque,NM,87101.0,Bernalillo,"Albuquerque, NM MSA"
199858,10743012780908565822524456853657,Information Technology,Lumina Analytics,2018-07-25,NaN,NaN,94807,"Tampa, FL 33602 (Downtown area)",Tampa,FL,33602.0,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
199873,92803753748390589578403354402993,Information Technology,Nielsen,2018-03-09,NaN,NaN,89791,"Oldsmar, FL",Oldsmar,FL,34677.0,Pinellas,"Tampa-St. Petersburg-Clearwater, FL"
199881,56998704510015908401183967054429,Information Technology,Flex,2018-04-03,NaN,NaN,102147,"Farmington Hills, MI",Farmington Hills,MI,48167.0,Wayne,"Detroit-Warren-Livonia, MI MSA"
199883,3326995720686802362414056060296,Information Technology,GlaxoSmithKline,2018-04-27,NaN,NaN,121152,"Collegeville, PA 19426",Collegeville,PA,19426.0,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199900,75611024286625471647966796410699,Information Technology,Strategic IT Staffing,2018-02-01,NaN,NaN,89573,"Cincinnati, OH",Cincinnati,OH,45201.0,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199906,48567356716758431267715048358223,Information Technology,DXC Technology,2017-05-04,NaN,NaN,96727,"Fort Meade, MD",Fort Meade,MD,20755.0,Anne Arundel,"Baltimore-Towson, MD MSA"
199908,55611745814807494056851258400317,Information Technology,Jindal Films,2018-05-17,NaN,NaN,88531,"LaGrange, GA 30240",LaGrange,GA,30240.0,Troup,GA NONMETROPOLITAN AREA
199911,5240714260723471463959794980949,Information Technology,TriQuest Business Services,2016-10-26,2017-01-24,90.0,148462,"San Antonio, TX",San Antonio,TX,78201.0,Comal,"San Antonio, TX MSA"
199927,36014695188139188602550873685790,Information Technology,"Vistex, Inc",2017-05-28,NaN,NaN,90597,"Hoffman Estates, IL 60169",Hoffman Estates,IL,60169.0,Cook,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199928,10352428307047742246659020218630,Information Technology,Compass Group USA,2017-08-17,NaN,NaN,101567,"Charlotte, NC",Charlotte,NC,28201.0,Robeson,"Charlotte-Gastonia-Concord, NC-SC MSA"
199931,42645467574831485947934124947265,Information Technology,Leidos,2018-06-17,NaN,NaN,103707,"Shaw AFB, SC 29152",Shaw AFB,SC,29152.0,Sumter,"Sumter, SC MSA"
199932,46298306566497354435376351819611,Information Technology,Cohesion Consulting & Staffing,2018-04-25,NaN,NaN,114953,"Cincinnati, OH",Cincinnati,OH,45201.0,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199937,71150182893657383337814698793519,Information Technology,"PSI-ProTech Solutions, Inc.",2017-04-20,NaN,NaN,96530,"Dover, DE",Dover,DE,19901.0,Kent,"Dover, DE MSA"
199939,21611034267202896876834663680868,Information Technology,Customer Value Partners,2017-07-27,NaN,NaN,110200,"Columbia, MD",Columbia,MD,21044.0,Howard,"Baltimore-Towson, MD MSA"
199953,16097640182645324302974660355134,Information Technology,Spectrum,2018-06-07,NaN,NaN,109049,"Madison, WI 53774",Madison,WI,53774.0,Dane,"Madison, WI MSA"
199967,59727115888834976523614459530230,Information Technology,Department of the Army,2018-02-10,NaN,NaN,80576,"Rock Island, IL",Rock Island,IL,61201.0,Rock Island,"Davenport-Moline-Rock Island, IA-IL MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101.0,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702.0,Williamson,"Austin-Round Rock, TX MSA"
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,8534.0,Mercer,"Trenton-Ewing, NJ MSA"
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,2129.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"

#### Problem 6

In [185]:
#Assigning Master clean contents to another df to keep Master Clean as is
Time_to_fill_df = df.drop(['Latitude','Longitude'],axis=1)
Time_to_fill_df['Time_to_fill'].isnull().sum()

151118

In [186]:
Time_to_fill_df['Time_to_fill'].fillna(Time_to_fill_df['Time_to_fill'].median() , inplace= True)

In [187]:
Time_to_fill_df.iloc[0:25,:]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,12.0,56563,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,12.0,98222,"Northridge, CA",Northridge,CA,91324.0,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,12.0,63761,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3.0,54231,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0.0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709.0,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37.0,91550,"Catonsville, MD",Catonsville,MD,21228.0,Baltimore,"Baltimore-Towson, MD MSA"
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3.0,34920,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,12.0,56453,"Milwaukee, WI",Milwaukee,WI,53201.0,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA"
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8.0,25369,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,12.0,65200,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3.0,21484,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,12.0,39125,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,12.0,29963,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,12.0,37110,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,12.0,109380,"Newark, DE",Newark,DE,19702.0,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,12.0,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054.0,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA"
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9.0,35570,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18.0,46331,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56.0,99210,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,12.0,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601.0,Wake,"Raleigh-Cary, NC MSA"
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,12.0,73161,"Bensenville, IL 60106",Bensenville,IL,60106.0,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,12.0,54085,"Greenwich, CT 06831",Greenwich,CT,6831.0,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA"
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,12.0,32615,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,12.0,114036,"Wayne, PA 19087",Wayne,PA,19087.0,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26.0,54579,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
Time_to_fill_df.iloc[-25:,:]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,12.0,34930,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,12.0,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702.0,Williamson,"Austin-Round Rock, TX MSA"
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1.0,73212,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,12.0,34693,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,12.0,37730,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11.0,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA"
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,12.0,169620,"New York, NY",New York City,NY,10010.0,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,12.0,108568,"Pennington, NJ",Pennington,NJ,8534.0,Mercer,"Trenton-Ewing, NJ MSA"
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4.0,34033,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,12.0,109957,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,12.0,88779,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,12.0,93508,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,12.0,83348,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,12.0,51847,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1.0,110425,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,12.0,32983,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,12.0,61407,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,12.0,112054,"Charlestown, MA",Charlestown,MA,2129.0,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,12.0,41571,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20.0,81997,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,12.0,31390,"Temple, TX",Temple,TX,76501.0,Bell,"Killeen-Temple-Fort Hood, TX MSA"
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2.0,35577,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11.0,63093,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,12.0,52310,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,12.0,54198,"Zeeland, MI",Zeeland,MI,49464.0,Ottawa,"Holland-Grand Haven, MI MSA"

#### Problem 7

In [190]:
Master_Clean.loc[(Master_Clean['State']=='NJ'), :].loc[: ,['Company', 'Post_date' , 'Salary' ]].dropna(subset=['Company', 'Post_date' , 'Salary'])

                                                 Company   Post_date  Salary
248                                           Siemens AG  2018-03-21  117154
347                                        Stefanini Inc  2017-01-25  104023
425              On The Border Mexican Grill and Cantina  2017-08-02   17115
474                                                Ricoh  2018-03-15   39479
545                                           BNY Mellon  2016-10-28  104219
634                                       NFI Industries  2018-04-14   81348
724                                    Quest Diagnostics  2017-08-29   36549
833                                    Bed Bath & Beyond  2018-01-18  123018
916                                       APN Consulting  2018-07-17  109966
965                      Stewart's All American | Walker  2017-08-18   35169
974                           Partner's Consulting, Inc.  2017-01-19   86999
1035                              Mondelez International  2018-02-18   97201
1125                          Youth Consultation Service  2018-01-29   21086
1195                                  Bartlett Dairy Inc  2017-08-02   26575
1315             General Dynamics Information Technology  2018-07-11   73125
1334                                            Best Buy  2017-08-03   23932
1347                                           iconectiv  2016-08-20  116220
1522                          Cooper University Hospital  2018-07-04  133500
1541                                                KPMG  2018-02-17   82905
1568                               Hired by Matrix, Inc.  2017-08-17  102786
1688                                            Goodyear  2018-07-11   43320
1760                                              Leidos  2017-03-01   70362
1943                                       JCC Metrowest  2017-04-11   32516
2202                               Otsuka Pharmaceutical  2016-11-09   98599
2305                                      TSR Consulting  2017-08-29  101261
2428                     Open Systems Technologies, Inc.  2017-07-18   93779
2637                       Platinum Acorn solutions, LLC  2017-10-13  128767
2669                             Veterans Sourcing Group  2017-08-24   69115
2695                                          BNY Mellon  2018-03-09  107369
2718                                       Deutsche Bank  2016-09-02  116480
...                                                  ...         ...     ...
198182                     SHI International Corporation  2016-09-07  113373
198298                                      Ralph Lauren  2018-03-16  140397
198334                                         WALGREENS  2017-12-19   56739
198391                               Scarinci Hollenbeck  2018-02-06   48119
198562                                        ELLKAY LLC  2018-02-07  129393
198581                    St. Joseph's Healthcare System  2016-08-24   68675
198601                                Aftermath Services  2017-08-05   31845
198618                               Answer Human Assets  2018-01-29   69081
198624                               Smartlink, LLC (HQ)  2017-08-11  118550
198731                                   The Forum Group  2016-12-03   93696
198843                                Plastic Executives  2017-08-18  129917
198888                    Pinnacle Treatment Center KY-I  2018-03-23   43091
199019                New Jersey Institute of Technology  2018-05-03   68467
199023                                    ACT-Consulting  2017-05-31   88835
199060                             Smith Arnold Partners  2018-04-17   86318
199151                                         PDDN INC.  2017-08-15  164738
199184                                   JP Morgan Chase  2017-09-18  124990
199202                                              Citi  2018-02-22   95004
199226                                   Lockheed Martin  2018-05-01  110064
199271                              Integra LifeSciences  2018-06-04  127740
199319  Veterans Affairs, Veterans Health Administration  2018-01-25   51761
199377                                IDEXX Laboratories  2017-07-27   28329
199470                                       BNP Paribas  2018-01-29  146352
199474                       George Hildebrandt Trucking  2018-05-10   78352
199563                                              PSEG  2017-05-17  107233
199654                                     Bartech Group  2018-03-28  109679
199715                                      Forbes Media  2018-04-17   67176
199720           Infinity, a Stamford Technology Company  2017-01-25   98988
199811                                        BNY Mellon  2017-08-22  118748
199982                  Nesher Pharmaceuticals (USA) LLC  2017-06-14  108568

[2517 rows x 3 columns]

#### Problem 8

In [191]:
Master_Clean.loc[Master_Clean['State'].isin(['NC','PA', 'TX']),:].loc[:,['Company', 'Post_date' , 'Time_to_fill', 'Salary' ]].dropna(subset=['Company', 'Post_date' , 'Time_to_fill' , 'Salary'])

,Company,Post_date,Time_to_fill,Salary
4,Mindteck,2018-02-20,0.0,84921
91,Texas A&M University Corpus Christi,2016-10-14,37.0,80792
172,Camber Corporation,2016-10-07,8.0,87225
208,WellSpan Health Services,2016-12-04,4.0,71306
337,Mckesson,2016-12-20,5.0,114377
362,PACCAR,2017-01-19,15.0,96439
407,Global Process Automation,2016-10-21,21.0,109193
421,ECRI Institute,2016-11-22,1.0,91760
548,Hope for the Heart,2016-10-18,33.0,46361
674,Smartronix,2016-09-02,11.0,87399
692,KellyMitchell,2016-12-03,70.0,86475
823,BNY Mellon,2016-09-02,45.0,83646
855,L3 Technologies,2018-06-19,80.0,91472
907,Day & Zimmermann,2017-02-03,12.0,72220
908,Signature Consultants,2016-08-21,29.0,60301
1091,Novotus,2016-12-07,1.0,60452
1176,NTT DATA Federal Services,2017-01-21,1.0,53419
1203,Southern GlazerÂ’s Wine and Spirits,2016-09-30,51.0,113183
1282,"Tanisha Systems, Inc.",2017-01-31,2.0,85414
1433,Washington Frank,2016-11-23,30.0,103878
1587,"Bourntec Solutions, Inc.",2016-10-22,1.0,165320
1719,Illinois Technology Association,2016-09-24,8.0,125260
1733,Techo-Bloc Corp.,2016-11-02,60.0,49648
1837,sÂ•com,2016-11-04,28.0,77907
1870,Dept of State Health Services,2016-10-12,39.0,41137
1916,"Jack Henry and Associates, Inc.",2016-10-11,40.0,32184
2142,Charles Schwab,2016-10-07,16.0,63826
2144,APR Consulting Inc,2016-10-07,8.0,108191
2190,Stewart Title Guaranty Company,2017-02-21,27.0,116384
2203,Penske,2016-12-22,37.0,57944
...,...,...,...,...
196987,V Group Inc.,2016-09-02,1.0,94457
197105,"ObjectWin Technology, Inc.",2016-08-20,3.0,38396
197244,BNY Mellon,2016-10-02,3.0,85096
197247,Pennsylvania State University,2016-12-03,25.0,89391
197327,CalTech,2016-09-03,45.0,58561
197371,LORD Corporation,2016-09-08,77.0,43996
197921,BAE Systems,2017-01-01,1.0,98476
198191,Ask It Consulting,2016-10-13,1.0,69792
198217,ANSYS,2018-07-27,53.0,139803
198513,Avance,2016-11-22,1.0,103784
198648,"Cisco Systems, Inc.",2016-12-01,49.0,133365
198656,"Frontline Source Group, Inc",2016-12-30,12.0,59680
198658,PATTERSON COMPANIES,2018-07-11,78.0,73835
198664,RealPage,2016-10-24,27.0,76484
198751,Berks Technical Institute,2016-09-16,3.0,44964
198938,Micron,2016-09-22,59.0,100703
198972,Zenith American Solutions,2016-09-08,73.0,103113
198974,North Carolina Office of State Human Resources,2016-08-27,11.0,68974
199029,Sonsoft Inc,2016-10-05,120.0,121102
199048,SIG Combibloc Inc.,2016-10-20,3.0,71610
199066,Performant Financial Corporation,2018-02-20,0.0,28911
199182,Axelon Services Corporation,2016-09-15,66.0,94472
199245,Aventine Hill Partners,2016-08-28,1.0,59024
199382,TOP Texas,2016-08-10,29.0,68414
199432,WellSpan Health Services,2016-10-23,7.0,62630
199530,Sunpower,2016-10-04,11.0,34834
199752,"Advanced Micro Devices, Inc.",2016-10-18,121.0,72494
199802,Hill-Rom,2017-01-06,21.0,93619
199818,Climate Controls & Security,2016-10-01,91.0,69434
199911,TriQuest Business Services,2016-10-26,90.0,148462

#### Problem 9

In [195]:
Master_Clean.loc[(Master_Clean['Region_state'].str.contains('New York', na=False, regex=False)) |
                (Master_Clean['Region_state'].str.contains('Los Angeles-Long', na=False, regex=False)),:].loc[:,['City','State','County','Region_state']]

,City,State,County,Region_state
1,Northridge,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
47,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
56,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
71,Melville,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
122,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
137,Irvine,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
222,Pasadena,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
268,Studio City,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
284,Bohemia,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
315,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
324,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
334,Valencia,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
347,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
349,Sun Valley,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
350,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
394,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,Flushing,NY,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
425,Paramus,NJ,Bergen,"New York-Northern New Jersey-Long Island, NY-N..."
430,Brooklyn,NY,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
462,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
474,Newark,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
517,San Dimas,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
535,Rolling Hills Estates,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
545,Florham Park,NJ,Morris,"New York-Northern New Jersey-Long Island, NY-N..."
563,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
600,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
605,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
622,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...
199284,Azusa,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199314,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199319,East Orange,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
199342,NaN,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199352,Bellflower,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199377,Totowa,NJ,Passaic,"New York-Northern New Jersey-Long Island, NY-N..."
199457,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199460,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199461,Pasadena,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199470,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199493,Burbank,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199507,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199563,Newark,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
199592,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199595,Harrison,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199618,White Plains,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199673,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199684,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199704,Brooklyn,NY,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199715,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199720,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199730,La Mirada,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199743,Hollywood,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199811,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199827,Santa Ana,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199846,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199890,Stony Brook,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
199956,White Plains,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199981,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."

#### Problem 10

In [196]:
Master_Clean.loc[(Master_Clean['Post_date'].str.contains('2018')) | 
                 (Master_Clean['Post_date'].str.contains('2017')),:].loc[(Master_Clean['Region_state'].str.contains('New York')) |
                 (Master_Clean['Region_state'].str.contains('Seattle')),:].loc[(Master_Clean['Salary'] > 80000),:].loc[:,['Company', 'Vertical' , 'Post_date' , 'Salary' ]].dropna(subset=['Company'])

,Company,Vertical,Post_date,Salary
47,AIG,Information Technology,2017-11-17,85995
56,MUFG,Information Technology,2018-06-09,118019
61,Microsoft,Information Technology,2018-02-06,125442
122,RBC,Information Technology,2018-03-09,129057
280,General Dynamics Information Technology,Information Technology,2017-06-17,84852
324,Federal Reserve Bank of New York,Information Technology,2018-03-07,114411
347,Stefanini Inc,Information Technology,2017-01-25,104023
363,Wells Fargo,Information Technology,2018-03-22,110366
374,T-Mobile,Information Technology,2018-06-29,112175
394,RBC,Information Technology,2017-12-02,115949
430,JP Morgan Chase,Information Technology,2018-05-24,155469
456,T-Mobile,Information Technology,2018-02-23,123745
622,Ralph Lauren,Information Technology,2018-02-23,92641
629,Cameron Craig Group,Information Technology,2018-02-01,150155
649,BCT Partners,Information Technology,2017-04-11,107948
791,"Techlink, Inc.",Information Technology,2017-10-20,94756
833,Bed Bath & Beyond,Information Technology,2018-01-18,123018
842,U.S. Federal Government,Information Technology,2017-08-18,155056
916,APN Consulting,Information Technology,2018-07-17,109966
1035,Mondelez International,Information Technology,2018-02-18,97201
1055,RSM US LLP,Information Technology,2017-01-28,110557
1312,Wildlife Computers,Information Technology,2018-05-21,86364
1539,Microsoft,Information Technology,2018-04-03,102296
1541,KPMG,Information Technology,2018-02-17,82905
1561,JP Morgan Chase,Information Technology,2018-06-07,167967
1568,"Hired by Matrix, Inc.",Information Technology,2017-08-17,102786
1652,Point Inside,Information Technology,2018-03-27,124554
1736,Microsoft,Information Technology,2018-04-09,128774
1910,Microsoft,Information Technology,2018-06-09,118003
1977,Fluke,Information Technology,2018-02-15,170126
...,...,...,...,...
198624,"Smartlink, LLC (HQ)",Information Technology,2017-08-11,118550
198670,Custom Staffing,Information Technology,2018-02-14,93697
198678,Bloomberg,Information Technology,2017-10-05,108966
198693,Microsoft,Information Technology,2018-03-08,135313
198750,Engineering Consultancy Firm,Information Technology,2017-08-19,83913
198801,JP Morgan Chase,Information Technology,2018-02-15,153442
198843,Plastic Executives,Information Technology,2017-08-18,129917
198988,KPMG,Information Technology,2018-03-18,120214
199023,ACT-Consulting,Information Technology,2017-05-31,88835
199060,Smith Arnold Partners,Information Technology,2018-04-17,86318
199101,REI,Information Technology,2017-01-31,107527
199133,Wolters Kluwer,Information Technology,2018-02-28,135062
199151,PDDN INC.,Information Technology,2017-08-15,164738
199184,JP Morgan Chase,Information Technology,2017-09-18,124990
199202,Citi,Information Technology,2018-02-22,95004
199261,GTT,Information Technology,2018-01-31,123207
199271,Integra LifeSciences,Information Technology,2018-06-04,127740
199314,School of Visual Arts,Information Technology,2017-04-12,87336
199457,e-Frontiers,Information Technology,2018-05-30,102616
199470,BNP Paribas,Information Technology,2018-01-29,146352
199478,Microsoft,Information Technology,2018-03-08,117584
199483,Greenpoint Technologies,Information Technology,2018-01-18,92378
199541,Trigyn,Information Technology,2018-03-10,135541
199563,PSEG,Information Technology,2017-05-17,107233
199618,Wells Fargo,Information Technology,2018-02-16,93882
199720,"Infinity, a Stamford Technology Company",Information Technology,2017-01-25,98988
199741,Frontier Communications Corporation,Information Technology,2018-03-21,84569
199811,BNY Mellon,Information Technology,2017-08-22,118748
199956,Medtronic,Information Technology,2018-06-26,83419
199981,Sidewalk Labs,Information Technology,2017-08-19,169620

#### Problem 11

In [198]:
n = Master_Clean.loc[(Master_Clean['Salary'] >= 100000) & (Master_Clean['State']=='NY') & (Master_Clean['Post_date'].str.contains('2018')),'Job_id'].count()
n

1021

In [199]:
d = Master_Clean.loc[(Master_Clean['State']=='NY') & (Master_Clean['Post_date'].str.contains('2018')),'Job_id'].count()
d

2739

In [200]:
percentage = ( n / d ) * 100
percentage

37.27637824023366

#### Problem 12

In [206]:
NY_Mean = Master_Clean.loc[(Master_Clean['State']=='NY') , 'Salary' ].mean()
NY_Mean

84802.44652701213

In [207]:
CA_Mean = Master_Clean.loc[(Master_Clean['State']=='CA') , 'Salary' ].mean()
CA_Mean

82992.58246408188

In [208]:
n = Master_Clean.loc[(Master_Clean['State'].isin(['NY','CA'])) &
                     (Master_Clean['Company'].str.strip()=='Wells Fargo')].loc[(Master_Clean['Salary'] > NY_Mean) |
                                                            (Master_Clean['Salary'] > CA_Mean),'Job_id'].count()
n

66

In [204]:
#denominator - all Wells Fargo jobs in NY or CA
d = Master_Clean.loc[(Master_Clean['State'].isin(['NY','CA'])) 
                     & (Master_Clean['Company'].str.strip()=='Wells Fargo'),'Job_id'].count()
d

82

In [209]:
percentage = (n/d) * 100
percentage

80.48780487804879