#### Problem 1

##### Qn a

In [2]:
2+5

7

##### Adds 2 and 5 and gives 7

##### Qn b

In [4]:
2 + 5

7

##### Adds 2 and 5 and gives 7 . The space between operator and numbers is irrelevant ie the spaces around the + don't change the output. As a general rule, we can put spaces wherever we think they make the code more readable

##### Qn c

In [5]:
2*5

10

##### Multiplies 2 times 5, and gives 10 . The calculation, 2 * 5, does the same thing. The spaces around the * don't change the output. As a general rule, we can put spaces wherever we think they make the code more readable

##### Qn d

In [6]:
2/5

0.4

##### Divides 2 by 5, and gives 0.4  , it performs a division.

In [8]:
2/5.0

0.4

#####  2 by 5.0 also  gives 0.4

##### Qn e

In [9]:
2**5

32

###### Exponents in Python are done using ** . Python exponents ** is used to compute 2 to the power 5 and gives 32 .

In [10]:
2^5

7

###### A similar expression 2^5 gives 7 . We expected the answer to be 32  (2 to the power 5), but evidently it's not. The hat symbol ^ doesn't do exponents in Python, as it does in Excel.

#### Problem 2

In [11]:
x = 7
x = x + 3

###### x is a variable and is assigned a value 7 first. The variable x now contain the value 7 and can be used in future calculations simply by using the name . In the second line x is assigned x+3 . Here x which now has a value of 7 is added with 3 and the value ( which is 10 ) is assigned to the variable x again.

In [12]:
x

10

###### We can see the results of these assignments by checking the content of the variable x . Typing a variable and hitting return gives us its value. If we type x , we get 10

#### Problem 3

In [14]:
x = 3
y = x
x = 10

###### x is a variable and is assigned a value 3 first. The value of x is now assigned to another variable y. So the value of y is 3. Now variable x is reassigned a value 10 . So the final value of x is 10.

In [16]:
x

10

In [17]:
y

3

###### We can see the results of these assignments by checking the content of the variable x and y . Typing a variable and hitting return gives us its value. If we type x , we get 10 and for y , we get 3

#### Problem 4

In [18]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

######  Yes, the code runs without an error . It produces 1.5 abcabc .
######  x is initially assigned 3 and is reassigned the value x/2 which gives 1.5 when x is printed. 
######  y is assigned string abc and z is assigned y+y , ie we add the string abc to the same string abc and will get abcabc as value of z. We've simply stitched the same two strings together, one after the other. Now print function gives 1.5 abcabc

#### Problem 5

In [19]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

######  No, the code throws an error . 
######  x is initially assigned 3 and is reassigned the value x/2 which is 1.5 . 
######  y is assigned string abc and z is assigned x+y , ie we try to add the string abc to the number 1.5 , which is not possible as Python is strongly typed and cannot concatenate a string and number. There are no implicit type conversions to convert 1.5 to a string.

#### Problem 6

In [20]:
x = 3
y = 24
z = y/x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

######  Yes, the code runs without  an error .  It produces 3 | 24 | 8.0
######  x is initially assigned 3 and y  is assigned 24 . z is assigned y/x , which is 8.0
######  By default, the output of print function is separated by spaces, which can be modified and can be made to any character, integer or string as per our choice. The ‘sep’ parameter is used to achieve the same. Here the sep  parameter takes the value ' |'  and prints ' | '  to separate the values while printing.

#### Problem 7

In [21]:
x = 3
y = '24'
z = y/x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

######  No, the code throws an error . 
######  x is initially assigned 3 and y is assigned string '24' . Though y looks like a number , it's not. The number '24' is between quotes, so it's a string. If we try to use it as a number, it doesn't work. So, z = '24'/3 generates an error. In Python we cannot divide a string ('24') by an integer (3) and Python can't make sense of it .

#### Problem 8

In [25]:
x = "I am a #string" # Whoa, a string!

In [26]:
x

'I am a #string'

######  Yes, the code runs without  an error .  It produces 'I am a #string'
######  For x , everything between " "  is considered a string value . The statement after # after the quotes is a comment in python . so  Whoa, a string!  is not assigned to x and is not printed .

#### Problem 9

In [27]:
x = [1, 2, 3]
y = [42, 43]
z= x + y
print(z)

[1, 2, 3, 42, 43]

######  Yes, the code runs without  an error .  It produces [1, 2, 3, 42, 43] .  Here x is assigned a list of numbers 1, 2, 3  and y is assigned a list of numbers 42 and 43. We can combine lists by adding them. The statement z = x+y produces a list containing all the elements of x and all the elements of y, giving us 5 items altogether when we print z.

#### Problem 10

In [28]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

######  No, the code throws an error .  x is a list that contains numbers 1, 2, 3  and y is assigned a number 42.  the statement z = x + y throws an error , as Python can concatenate only 2 lists and not a list and a number .

#### Problem 11

##### Qn a

In [29]:
x1 = 12

In [30]:
type(x1)

int

######  x1 is an integer

##### Qn b

In [31]:
x2 = 12.0

In [32]:
type(x2)

float

######  x2 is a float

##### Qn c

In [33]:
x3 = '12.0'

In [34]:
type(x3)

str

######  x3 is a String

##### Qn d

In [35]:
x4 = [12]

In [36]:
type(x4)

list

######  x4 is a list

##### Qn e

In [37]:
x5 = [12, 12.0, '12.0']

In [38]:
type(x5)

list

######  x5 is a list that contains an int , float and string

#### Problem 12

##### Qn a

In [39]:
type(42)

int

######  42 is an integer . So type() gives an int

##### Qn b

In [40]:
type(42.0)

float

######  42.0  is a float . Though the value after the decimal place is 0 , as there is a decimal , it is a float . So type() gives a float.

##### Qn c

In [41]:
type('42.0')

str

######  42.0 is within quotes . so it is a string and type() gives a str

##### Qn d

In [42]:
type("42.0")

str

######  42.0 is within double quotes . Python treats single and double quotes the same. and so it is a string and type() gives a str

##### Qn e

In [44]:
type("""42.0""")

str

######  42.0 is within triple quotes .  Triple quotes are also used for string , but they can be used to define strings that go over several lines. So type() gives a str

##### Qn f

In [45]:
type([1, 2])

list

######  Here [1,2]  is a list  . Python considers  square brackets around a collection of items separated by commas as a List and type() gives a list

##### Qn g

In [46]:
type([1] + [2])

list

######  Here [1] and [2]  are separate lists and is conactenated by + sign to form another list   . In  Python we can combine lists  by adding them and type() gives a list

##### Qn h

In [47]:
type(1 + 2)

int

######  Here 1 and 2 are integers and they are added together , which results in another integer   and type() gives an int

##### Qn i

In [48]:
type(print)

builtin_function_or_method

######  print is a reserved word in Python used to display values and is a function . So    type() gives a builtin_function_or_method